@model SecureXWebApp.Models.Bank

@{
    ViewData["Title"] = "Details";
}

<li><a asp-area="" asp-controller="Customer" asp-action="Index">Customers</a></li>
<li><a asp-area="" asp-controller="Employee" asp-action="Index">Employees</a></li>

<h2>Details</h2>

<div>
    <h4>Bank</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reserves)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reserves)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to bank</a>
</div>
