@model SecureXWebApp.Models.Account

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this account?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Funds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Funds)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to account</a>
    </form>
</div>
