@model SecureXWebApp.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipient)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Recipient)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfTransaction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfTransaction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TransactionAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionAmount)
        </dd>
    </dl>
</div>

@* Redirect from here somehow *@
